@media max-width: 500px{
	.container{
		width: 300px;
	}
	.modal{
		width: 250px;
	}
	.definitions{
		width: 150px;
	}
	.right{
		width: 150px;
	}
}

body{
	background-size: cover;
	font-family: "Cambay", sans-serif;
	margin: 0;
	padding: 0;
	color: #9EAAFF;
}
a{
	text-decoration: none;
	color: #7FAAFF;
}

.container{
	max-width: 500px;
	margin: 3em auto;
	height: 500px;
	background-color: #3277FF;
}

.menu{
	display: flex;
	justify-content: space-between;
	border: 2px solid #7FAAFF;
	padding: 0 1em;
	background-color: #3F557F;
	cursor: pointer;
}

.menu #learnMore{
	border-left: 2px solid #7FAAFF;
	width: 50%;
	text-align: right
}
/* ///////// modal //////////////////// */
.modal{
	margin: 20px 25px;
	border: 2px solid #7FAAFF;
	background-color: #285FCC;
	padding: 1em;
	text-align: center;
	z-index: 99;
	position: absolute;
	width: 400px;
}
.modal > p{
	padding: 1em 0;
}

.modal > #nextQuestion{
	border: 2px solid #7FAAFF;
	max-width: 150px;
	margin: auto;
	padding: 0;
}
.button:hover{
	cursor: pointer;
	transition: all 0.3s ease-in;
	background-color: #7FAAFF;
	color: #285FCC;
	border: 2px solid #285FCC;
}

/* isHidden class will be toggled */
.isHidden{
	display:none;
}

/*  question screen ////////////////////////*/
.questionScreen{
	position: absolute;
	z-index: 2;
	
}
.questionScreen .sourceScreen{
	text-align: center;
	padding-top: 10px;
	height: 200px;
	color: #3F557F;
	border-right: 2px solid #7FAAFF;
	border-left: 2px solid #7FAAFF;
}

#answerChoices{
	display: flex;
	background-color: #285FCC;
	border-right: 2px solid #7FAAFF;
	border-left: 2px solid #7FAAFF;
	border-bottom: 2px solid #7FAAFF;
}

#answerChoices p{
	padding: 1em;
    margin: 0;
}

/* Lots of redundancy
.definitions{
	height: 120px;
	border-right: 2px solid #7FAAFF;
	border-top: 2px solid #7FAAFF;
	width: 247px;
}

.rights{
	height: 120px;
	border-top: 2px solid #7FAAFF;
	width: 247px;
}
.definitions:hover{
	background-color: #3F557F;
	transition: all 0.3s ease-in;
}
.rights:hover{
	background-color: #3F557F;
	transition: all 0.3s ease-in;
}
*/

#answerChoices>div:first-child {
    border-right: 2px solid #7FAAFF;
}

#answerChoices>div>div {
    width: 247px;
    border-top: 2px solid #7FAAFF;
}

#answerChoices .instruction {
    background-color: #3F557F;
    color: #eeeeee;
}
#answerChoices .answer {
    height: 120px;
    cursor: pointer;
}
#answerChoices .answer:hover {
    background-color: #3F557F;
	transition: all 0.3s ease-in;
}

answerChoices .selected{
	background-color: #7FAAFF;
	color: #285FCC;
}





