body{
	background-color:#3277FF;
	font-family: "Cambay", sans-serif;
	margin: 0;
	padding: 0;
	color: #7FAAFF;
}

.container{
	top: 5em;
	max-width: 500px;
	margin: auto;
	border: 2px solid white;
	height: 500px;
	background-color: #3277FF;
}

.menu{
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid white;
	padding: 0 1em;
	background-color: #3F557F;
	cursor: pointer;
}

.menu #learnMore{
	border-left: 2px solid white;
	width: 240px;
	text-align: right
}
/* ///////// module //////////////////// */
.module{
	display: none;
	margin: 2em 1em;
	border: 2px solid white;
	background-color: #285FCC;
	padding: 1em;
	text-align: center;
}
.module > p{
	padding: 1em 0;
}

.module #newGame{
	border: 2px solid white;
	max-width: 150px;
	margin: auto;
	padding: 0;
}


/*  question screen ////////////////////////*/

.questionScreen #source{
	text-align: center;
	height: 98px;
}

.answerChoices{
	display: flex;
	cursor: pointer;
}

.answerChoices p{
	margin: 5px;
}

.definitions{
	height: 150px;
	border-right: 2px solid white;
	border-top: 2px solid white;
	width: 250px;
}

.rights{
	height: 150px;
	border-top: 2px solid white;
	width: 250px;
}





